<main class="welcome-container">
  <div class="welcome-content">
    <h1>Typing Learning</h1>

    <nav class="exercises-nav">
      @for (category of exerciseCategories; track category.name) {
        <section class="exercise-category">
          <h3 class="exercise-category-title">{{ category.name }}</h3>

          <ul class="exercise-list">
            @for (exercise of category.exercises; track exercise.id) {
              <li>
                <a [routerLink]="['/exercices', exercise.id]" class="exercise-link">
                  {{ exercise.name }}
                </a>
              </li>
            }
          </ul>
        </section>
      }
    </nav>
  </div>
</main>
