<app-home-button></app-home-button>

<main class="exercise-container">
  <div class="exercise-content">
    <h1>{{ exerciseName }}</h1>
    <p class="exercise-id">Exercise ID: <code>{{ exerciseId }}</code></p>
    
    <section class="exercise-body">
      <p class="placeholder">Exercise content will be implemented here.</p>
      <p class="exercise-description">
        This is the {{ exerciseName }} page. You can navigate between different exercises using the Welcome page.
      </p>
    </section>
  </div>
</main>
